.form-register {
    width: fit-content;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    border: solid black 2px;
}

.submitRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #007bff;
    color: white;
}

.cancelRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #dc3545;
    color: white;
}

.controlsRegister {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid rgb(0, 0, 0);
}